.container 
    .text-center
        img(src="http://via.placeholder.com/320x320" alt="#").header-portrait
    .text-center.intro 
        h1.display-4.name Thomas Baroody 
        hr
        h1.display-3.title Front End Developer