.jumbotron.jumbotron-fluid.header-section
    .container 
        .text-center
            img(src="http://via.placeholder.com/320x320" alt="#").header-portrait
        p.display-4.text-center I'm Thomas Baroody, and I Build Websites