.container 
    .text-center
        img(src="http://via.placeholder.com/320x320" alt="#").header-portrait.img-fluid
    .text-center.intro 
        h1.display-4.intro-name Thomas Baroody 
        hr
        h1.display-3.intro-title Front End Developer