nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href="#") TB Logo
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#tb-nav", aria-controls="tb-nav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id="tb-nav")
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link(href="#") Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#") About
            li.nav-item
                a.nav-link(href="#") Projects
            li.nav-item 
                a.nav-link(href="#") Contact
