.container 
    .row.row-1
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")
    .row.row-2
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")
        .col-4
            img.img-thumbnail(src="http://via.placeholder.com/380x380" alt="#")